# ==========================================
# CUSTOM VIZDOOM CONFIG
# ==========================================

doom_scenario_path = deathmatch_mine.wad
doom_skill = 3

# ==========================================
# RENDERING
# ==========================================

screen_resolution = RES_320X240
render_hud = false

# ==========================================
# EPISODE SETTINGS
# ==========================================

episode_start_time = 1
episode_timeout = 4200

# ==========================================
# AVAILABLE BUTTONS
# ==========================================

available_buttons =
{
    ATTACK

    MOVE_FORWARD
    MOVE_BACKWARD

    MOVE_LEFT
    MOVE_RIGHT

    TURN_LEFT
    TURN_RIGHT
}

# ==========================================
# AVAILABLE GAME VARIABLES
# ==========================================

available_game_variables =
{
    KILLCOUNT
    HEALTH
    ARMOR

    SELECTED_WEAPON
    SELECTED_WEAPON_AMMO

    POSITION_X
    POSITION_Y

    DAMAGECOUNT
}